<div class="container">
  <div id="password_new" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info" >
      <div class="panel-heading">
        <div class="panel-title">Забыли пароль?</div>
        <div class="form_additional_links">
          <%= render 'devise/shared/links' %>
        </div>
      </div>

      <div class="panel-body">

        <%= form_for(resource, as: resource_name, url: password_path(resource_name),
                     html: { method: :post, class: 'form-horizontal'}) do |f| %>

          <%= render 'devise/shared/devise_error_messages' %>

          <div class="form-group">
            <%= f.label :email, class: 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
            </div>
          </div>

          <div class="form_input form-group">
            <div class="col-sm-12 controls">
              <%= f.submit 'Отправить инструкции', class: 'btn btn-success' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
